<% if logged_in? %>
    <h1>Upcoming events</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <%= form_tag("/", method: "get") do %>
              <%= label_tag(:subject_search, "Search for:") %>
              <%= select_tag(:subject_search, options_from_collection_for_select(Subject.all, :id, :name),{include_blank: "All", class: "subject_search" }) %>
              <%= submit_tag("Search", :class => "btn btn-primary input-btn btn-info") %>
          <% end %>
          </div>
          <div class="col-md-3 text-right">
            <%= link_to "Create event", creation_path, class: "btn btn-primary text-right" %>
          </div>
      </div>
    </div>
    <% if @events.any? %>
        <%= will_paginate @events %>
        <div class="container">
          <div class="row">
            <ul class="events">
              <% @events.map { |event| %>
                  <li>
                    <div class="col-md-10">
                      <%= link_to event['name'], "events/#{event['id']}" %>
                    </div>
                    <div class="col-md-2 text-right">
                      <% if event['score'] != -1 %>
                        Owner rating: <%= event['score'] %>/10
                      <% else %>
                        No owner rating yet!
                      <% end %>
                    </div>
                  </li>
              <%} %>
            </ul>
          </div>
        </div>
        <%= will_paginate @events %>
    <% else %>
        <h2>There are no upcoming events!</h2>
    <% end %>
<% else %>
    <h1 class="fiit-tutor-imp">FIIT-Tutor</h1>

    <div class="row clear">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(:session, url: login_path) do |f| %>

            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>

            <%= f.label :password %>
            <%= link_to "(forgot password)", new_password_reset_path %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.label :remember_me, class: "checkbox inline" do %>
                <%= f.check_box :remember_me %>
                <span>Remember me on this computer</span>
            <% end %>

            <%= f.submit "Log in", class: "btn btn-primary" %>
        <% end %>

        <p>New user? <%= link_to "Sign up now!", signup_path %></p>
      </div>
    </div>
<% end %>

