<%= provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<% if !current_user.admin? && current_user?(@user) %>
    <div class="text-right">
      <i class="glyphicon glyphicon-trash"></i>
      <%= link_to "Delete account", @user, method: :delete,
                      data: { confirm: "Are you sure you want to delete your account?" } %>
    </div>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Owned events:</h3>
      <% if !@events.any? %>
          <p>No events yet.</p>
      <% else %>
          <%= will_paginate @events, param_name: :owned %>
          <ul class="events">
            <%= render @events %>
          </ul>
          <%= will_paginate @events, param_name: :owned %>
      <% end %>
    </div>
    <% if current_user?(@user) %>
      <div class="col-md-6">
        <h3>Attending events:</h3>
        <% if !@signed_events.any? %>
          <p>No upcoming events for attendance.</p>
        <% else %>
            <%= will_paginate @signed_events, param_name: :attending %>
            <ul class="events">
              <%= render @signed_events %>
            </ul>
            <%= will_paginate @signed_events, param_name: :attending %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
  <div class="container">
    <% if @average[0].average > 0 %>
      <p>Average rating: <%= @average[0].average %>/10</p>
    <% else %>
      <p>No rating yet!</p>
    <% end %>
    <ul class="ratings">
      <div class="row">
        <%= render @rating %>
        <%= will_paginate @rating, param_name: :rate %>
      </div>
    </ul>
  </div>
<% if attended_event?(@user) %>
    <%= form_for(@new_rating) do |f| %>

        <%= f.hidden_field :tutor_id, as: :hidden, value: @user.id %>

        <%= f.label "#{:score} out of 10"%>
        <%= f.text_field :score, value: 10 %>

        <%= f.label :content %>
        <%= f.text_area :content %>

        <%= f.submit "Rate", class: "btn btn-success input-btn" %>

    <% end %>
<% end %>
