<%= provide(:title, @event[0].acronym) %>
<h1><%= @event[0].name %></h1>
<h3>
Owned by:
<%= link_to @user.name, @user %>
</h3>
<% if !current_user?(@user) && !outdated?(@event[0]) %>
    <% if !signed_in?(current_user, @event[0]) %>
        <%= form_for(@event_sign) do |f| %>
          <%= f.hidden_field :event_id, as: :hidden, value: @event[0].id %>
          <%= f.submit "Attend event", class: "btn btn-success input-btn" %>
        <% end %>
    <% else %>
        <%= link_to "No longer interested", event_user_path, method: :delete,
                    data: { confirm: "Are you sure you want to cancel your attendance? All your comments will be deleted" },
                    class: "btn btn-danger" %>
    <% end %>
<% end %>
<p>Subject - <%= @event[0].acronym %> - <%= @event[0].sub_name %></p>
<p>Place - <%= @event[0].place %></p>
<p>Cost - <%= @event[0].cost %> € /hour</p>
<p>Date - <%= @event[0].date.strftime("%d.%m.%Y") %> </p>
<p> Start at - <%= @event[0].date.strftime("%H:%M") %></p>
<p>Description - <%= @event[0].description %></p>
<% if current_user?(@user) %>
    <div class="text-right">
      <i class="glyphicon glyphicon-trash"></i>
      <%= link_to "Delete event", @event, method: :delete,
                  data: { confirm: "Are you sure you want to delete this event?" } %>
    </div>
<% end %>

<% if !@card.nil? %>
  <p>Visited <%= pluralize(@card, "time") %>.</p>
<% end %>
<% if signed_in?(current_user, @event[0])  %>
    <br><hr>
    <button class="js_button clicked  " data="js_button-comments">Comments:</button>
    <button class="js_button" data="js_button-users">Attending users:</button>
    <div class="hidden" data="div-users">
      <% if @count == 0 %>
          <p>No attending users!</p>
      <% else %>
        <h4>Number of attending users: <%= @count %> </h4>
        <ul class="users">
          <% @users.each do |user| %>
              <li>
                <%= user.name %>
              </li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="show" data="div-comments">
      <% if @comments.any? %>
        <ul class="comments">
          <%= render @comments %>
        </ul>
          <%= will_paginate @comments %>
      <% else  %>
        <p>No comments yet!</p>
      <% end  %>
      <%= form_for(@new_comment) do |f| %>
          <%= f.hidden_field :event_id, as: :hidden, value: @event[0].id %>
          <%= f.text_area :content %>
          <%= f.submit "Send comment", class: "btn btn-success input-btn" %>
      <% end %>
    </div>
<% end  %>